@import "./masterstyle.css";

*{
    font-family: var(--main-font-fam) !important;
}

html,body{
    height: 100%;
    width: 100%;
}
header{
    display: block;
    margin-top: 34px;
}
.Container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: -21px;
    margin-top: -33px;
}
.logo2 {
    height: 60px;
    width: 89px;
   
}
.logo2{
    height: 60px;
    width: 200px;

}
img{
    vertical-align: middle;
}
.Navbar{
    background-color: rgba(0, 0, 0, 0.57);
    backdrop-filter: blur(20px);
    position: fixed;
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-top: 4px;
    z-index: 25;
}
.Nav1 {
    width: 20%;
    padding-top: 0px;
    padding-left: 39px;
}
.Nav1 img{
    width: 61%;
    height: 93%;
}

.Nav2
 {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5vw;
}
.Nav2 ul{
    list-style: none;
    padding: 0;
    float :right;
}
.Nav2 ul li{
    display: inline-block;
    font-size: 20px;
    font-weight:400;
    margin-right: 32px;
}
.Nav2 ul li a{
    text-decoration: none;
    font: weight 100px;
    color: #fff;
}

/* .Nav3 {
    width: 20%;
    padding-top: 20px;
    padding-right: 49px;
    float:right;
} */

.main{
    height: 100%;
    width: 100%;
    padding-top: 35px;
    background-color: rgb(250, 246, 246);
    display: grid;
    grid-template-columns: 20% 25% 50%;
    grid-template-rows: 26% 56% 18% ;

}

.left-top-left{
    background-color: rgb(250, 246, 246);
    padding: 40px;
}
/* .square{
    height: 25px;
    width: 25px;
    rotate: 45deg;
    background-color: rgba(20, 61, 6, 0.911);
} */
.left-top-right{
    background-color: rgb(250, 246, 246);
    justify-self: right;
    padding: 40px;
    text-align: right;
}

.left-top-right h4{
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(250, 250, 250);
}

.left-top-right h5{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.left-center{
    background-color: rgb(250, 246, 246);
    grid-column: 1/3;
    padding: -1px;
}

.left-center h1{
    font-size: 4vw;
    text-transform: uppercase;
    line-height: 5.5vw;
    font-weight: 800;
}
.left-center h1:nth-child(2n){
   /* background-color: rgb(255, 0, 0);*/
   text-align: center;
}

.left-bottom{
    background-color:rgb(250, 246, 246);
    grid-column: 1/3;
    padding: 50px;
}
.left-bottom p{
    width: 70%;
    color: rgb(255, 255, 255);
}

.right{
    background-color: rgb(250, 246, 246);
    grid-column: 3;
    grid-row: 1/4;
    padding: 70px;
    padding-right: 150px;
   
}

.right video{
    height: 108%;
    width: 105%;
    object-fit: cover;
    border-end-start-radius: 30px 30px;
    border-top-left-radius: 50px 50px;
}
/* 
.arrow{
    position: absolute;
    top: 50%;
    left: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    padding: 20px;
    color: aliceblue;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.arrow i{

    font-size: 80px;
    font-weight: 600;
} */

@media(max-width:600px){
    .main{
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 34% 8% ;
    
    }
    .left-top-left{
        padding: 19px;
    }
    .square{
        height: 20px;
        width: 20px;
    }
    .left-top-right{
        padding: 20px;
        text-align: right;
    }
    
    .left-top-right h4{
        display: none;
    }
    
    .left-top-right h5{
        display: none;
    }
    .left-center{
        padding: 10px 20px;
    }
    
    .left-center h1{
        font-size: 17vw;
        line-height: 14vw;
    }
    .left-center h1:nth-child(2n){
       text-align: right;
    }
    
    .left-bottom{
        padding: 0px 20px;
    }
    .left-bottom p{
        width: 90%;
        font-size: 10px;
    }
    
    .right{
        padding: 20px;
        padding-right: 150px;
       
    }
    
    /* .arrow{
        top: 52%;
        left: 50%;
        padding: 10px;
        transform: translate(-50%,-50%) rotate(90deg);
    }
    .arrow i{
    
        font-size: 30px;
    } */

    .right{
        grid-column: 1/4;
        grid-row: 4;
        padding: 20px;
        padding-right: 20px;
       
    }
    .right video{
        height: 42vh;
    }
}

.container3{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(250, 246, 246);
}
.service-wrapper{
    padding: 5% 8%;
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #fff;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background: linear-gradient(8deg, rgba(8,52,83,1) 0%, rgb(146, 230, 0) 41%, rgb(246, 241, 241) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
}

h1:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgb(250, 246, 246);;
}
h1 span{
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #72e2ae;
    animation: anim 5s linear infinite;
}
@keyframes anim {
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 88%;
    }
    
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 80px;
    position: relative;
    
}
.card1{
    height: 300px;
    width: 300px;
    background-color: #1c2335;
    padding: 3% 8%;
    border: 0.2px solid rgba(114,226,174,0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin-left: 328px;
    
}
.card1:after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;

}
.card1:hover:after{
    width: 225%;
    top:-100%;
}
.card1 i{
    color: #72e2ae;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}
.card1 h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.card1 p{
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(255,255,255,0.6);
}
.card1:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
}
.card1:hover i{
    color: #00ff37;
}
.card1:hover h2{
    color: black;
}
.card1:hover p{
    color: black;
}


.card2{
    height: 300px;
    width: 300px;
    background-color: #1c2335;
    padding: 3% 8%;
    border: 0.2px solid rgb(250, 246, 246);;
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin-left: 42px;
}
.card2:after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}
.card2:hover:after{
    width: 225%;
    top:-100%;
}
.card2 i{
    color: #72e2ae;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}
.card2 h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.card2 p{
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(255,255,255,0.6);
}
.card2:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
}
.card2:hover i{
    color: #00ff37;
}

.card2:hover h2{
    color: black;
}
.card2:hover p{
    color: black;
}

h1 {
    color: #fff;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background: linear-gradient(8deg, rgba(8,52,83,1) 0%, rgba(0,230,173,1) 41%, rgba(41,17,45,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
}

h1:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
}
h1 span{
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #72e2ae;
    animation: anim 5s linear infinite;
}
@keyframes anim {
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 88%;
    }
    
}
.cards1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 60px;
}


.card3{
    height: 300px;
    width: 300px;
    background-color: #1c2335;
    padding: 19% 8%;
    border: 0.2px solid rgba(114,226,174,0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card3:after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}
.card3:hover:after{
    width: 225%;
    top:-100%;
}
.card3 i{
    color: #72e2ae;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}
.card3 h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.card3 p{
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(255,255,255,0.6);
}
.card3:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
}
.card3:hover i{
    color: #00ff37;
}
.card3:hover h2{
    color: black;
}
.card3:hover p{
    color: black;
}





.card4{
    height: 300px;
    width: 300px;
    background-color: #1c2335;
    padding: 19% 8%;
    border: 0.2px solid rgba(114,226,174,0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card4:after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}
.card4:hover:after{
    width: 225%;
    top:-100%;
}
.card4 i{
    color: #72e2ae;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}
.card4 h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.card4 p{
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(255,255,255,0.6);
}
.card4:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
}
.card4:hover i{
    color: #00ff37;
}
.card4:hover h2{
    color: black;
}
.card4:hover p{
    color: black;
}




.card5{
    height: 300px;
    width: 300px;
    background-color: #1c2335;
    padding: 19% 8%;
    border: 0.2px solid rgba(114,226,174,0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card5:after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}
.card5:hover:after{
    width: 225%;
    top:-100%;
}
.card5 i{
    color: #72e2ae;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}
.card5 h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.card5 p{
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(255,255,255,0.6);
}
.card5:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
}
.card5:hover i{
    color: #00ff37;
} 
.card5:hover h2{
    color: black;
}
.card5:hover p{
    color: black;
}